@font-face {
    font-family: "norse-bold";
    src: url("fonts/Norse-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

body {
    display: flex;
    margin: 0;
}

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    outline: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border-style: none;
}

.left-side {
    width: 40vw;
    height: 100vh;
    background-image: url("images/green-leaf.jpg");
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 200px 0;
    font-family: "norse-bold";
    font-size: 100px;
    background-color: rgba(0, 0, 0, 0.5);
}

img {
    width: 100px;
    height: auto;
}

.footer {
    text-align: center;
    margin: 10px 0;
}

.footer a {
    color: white;
}

.right-side {
    background-color: rgb(243, 243, 243);
    width: 60vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header-text {
    width: 740px;
    height: auto;
    font-size: 24px;
    font-weight: bold;
    padding: 0 0 0 45px;
}

.header-text p {
    margin: 0;
}

.header-text .text-1 {
    margin: 140px 0 0;
}

.header-text .text-2 {
    margin: 25px 0 55px;
}

h2 {
    margin: 0 0 20px 0;
}

.form-section {
    background-color: white;
    box-shadow: 4px 5px 6px rgb(199, 199, 199);
    padding: 15px 0 0 45px;
}

input {
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    padding: 4px;
    width: 280px;
}

input:focus {
    outline: none;
    border: 1px solid #4975ce;
    box-shadow: 3px 3px 3px rgb(214, 214, 214);
}

.form-section {
    width: auto;
    height: auto;
}

#info-form {
    width: 700px;
}

fieldset {
    border-style: none;
    margin: 0;
    padding: 0;
}

.form-section label {
    font-size: 13px;
    font-weight: bold;
    color: rgb(92, 92, 92);
    letter-spacing: 1px;
}

.form-section input {
    padding: 7px 10px 4px;
}

#info-form fieldset {
    display: flex;
    flex-wrap: wrap;
}

#info-form .contact-element {
    padding: 0 70px 20px 0;
}

.error-message {
    color: rgb(204, 33, 33);
    font-size: 12px;
}

.error-message:valid {
    visibility: hidden;
}

input[type="password"]:invalid {
    border: 1px solid rgb(204, 33, 33);
}

.contact-element input:invalid {
    border: 1px solid rgb(204, 33, 33);
}

.account-action {
    padding: 40px 0 0 45px;
}

.account-action button {
    color: #FFF;
    background-color: #596D48;
    padding: 15px 60px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 7px;
    box-shadow: 4px 4px 4px rgb(214, 214, 214);
}

.account-action p {
    margin: 0;
    padding: 35px 0;
}

.account-action a {
    font-weight: bold;
    text-decoration: none;
    color: #596D48;
}